@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500;2,900&display=swap");

$color1: #61892f;
$color2: #86c232;
$color3: #222629;
$color4: #47484f;
$color5: #6b6e70;

$gr-gradient: linear-gradient(90deg, #94d934 10%, #86c232 67%);

nav.navbar {
  width: 40vw;
  height: 10vh;

  top: 0;
  right: 0;

  margin: 20px;

  position: fixed;

  display: flex;
  justify-content: space-around;
  align-items: center;
  a.active {
    button {
      background: $color4;
      padding: 10px;

      color: $color2;
    }
  }
  button {
    // border: solid $color2;
    border: none;
    background: $gr-gradient;
    padding: 10px;
    width: 150px;

    color: $color4;
    font-size: 20pt;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 40px;
    transition: 1s;
  }
  button:hover {
    background: $color5;
    padding: 10px;

    color: #a2e93e;
  }
}
