@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap");

$color1: #61892f;
$color2: #86c232;
$color3: #222629;
$color4: #47484f;
$color5: #6b6e70;

div#clip {
  //   wlement graficzny tła
  position: absolute;
  top: 0;
  width: 100vw;
  height: 50vh;
  clip-path: polygon(100% 0, 100% 35%, 65% 70%, 0 35%, 0 0);
  background-color: $color3;
  //   z-index: -1;
}
div.mainProjects {
  width: 100vw;
  height: 100vh;
  background-color: #47484f;
  svg {
    bottom: 0;
    position: absolute;
    transform: scaleY(50%) translate(0%, 50%);
  }
}
